{% extends 'base.html' %}
{% load static %}
{% block title %}首页_{% endblock %}

{% block container %}
{% include 'navbar.html' %}
        <div class="container c_Container mt-5 p-3">
                <div class="nav c_Filter mb-5 py-3">
                    <li class="nav-item ">
                        <b class="nav-link">类别：</b>
                    </li>
                    <li class="nav-item">
                            <a href="" class="nav-link">全部</a>
                        </li>
                        {% for i in kind_list %}
                    <li class="nav-item">
                        <a href="" class="nav-link">{{ i.name }}</a>
                    </li>
                    {% endfor %}
                </div>
                <h4 class="mt-2 text-dark mx-4">全部课程</h4>
                <div class="cardlist  d-flex flex-wrap c_SeriesCard">
                        {% for i in series_list %}
                        {% if editor %}
                        <a class="card  c_Card" href="{% url 'editor_cur_list' i.id %}" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.name }}</h5>
                                    <p class="card-text">{{ i.information }}</p>
                                </div>
                            </a>
                        {% else %}
                        <a class="card  c_Card" href="{% url 'show_series' i.id %}" >
                                <img class="card-img-top" src="{{ i.img.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.name }}</h5>
                                    <p class="card-text">{{ i.information }}</p>
                                </div>
                            </a>
                        {% endif %}
                    
                         {% endfor %}       
                
                </div>
                <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end  c_Page">
                          <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                          <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                        </ul>
                      </nav>
        </div>
{% include 'copyright.html' %}
{% endblock %}