{% extends "curriculum/play_script.html" %}

{% block content %}
<div class="container-fluid" style="margin: 0px 15px">
    <div class="row">
        <div class="col-lg-9">
            <div id="play">
                <div>课程名：</div>
                <video width="800" height="400" controls="controls">
                  <source src="" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-lg-3">
                    <br/>
            {% for i in cur_list %}
            <button id="but{{ forloop.counter }}" style="width: 210px" onclick="loadXMLDoc({{ i.id }})">{{ i.name }}</button>
            <br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
                <div id="jd_book" style="width: 600px">

                </div>
            <div id="msgBox" onload="tab()">
                <form action="post_comment/" method="post">
                    {% csrf_token %}
                    <div>{{ comment_form.body }}</div>
                    <div class="tr">
                        <p>
                            <button id="sendBtn" type="submit" title="快捷键 Ctrl+Enter">提交</button>
                        </p>
                    </div>
                </form>
                <div class="list">
                    <h4><span>大家在说</span></h4>
                    {% for i in comment_list %}
                    <ul id="ul1">
                        <div class="radi" style="width: 800px;border:1px solid #000;">
                            {{ i.name }}
                            <span style="float:right">
                                {{ i.time }}
                            </span>
                            <div class="radi" style="width: 780px;border:1px solid #000;margin: auto">
                                {{ i.body }}
                            </div>
                        </div>
                            {{ i.href }}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% for i in cur_list %}
            <button about="{{ i.id }}" id="" style="width: 300px;height: 150px">{{ i.name }}</button>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}