{% extends 'base.html' %}
{% load static %}
{% block title %}首页_{% endblock %}

{% block container %}
{% include 'navbar.html' %}
<div id="i_VideoWrapper" class=" w-100 bg-dark">
        <div class="container d-flex flex-wrap py-4">
                <div class="order-0 flex-grow-1 c_VideoWrapper d-flex justify-content-center">
                        <video class="w-100 c_Video" controls="controls">
                                <source src="" type="video/mp4">
                              Your browser does not support the video tag.
                              </video>
                </div>
                <div class="list-group order-1 c_CourseList">
                        {% for i in cur_list %}
                                <a href="#" data-id="{{ i.id }}" class="list-group-item list-group-item-action c_ChapterItem">{{ i.name }}<span role="button" class="badge badge-success mx-2">切换画质</span></a>
                        {% endfor %}
                </div>
        </div>
</div>
<div class="container  c_Container p-4 my-3 w-100">
        <form action="post_comment/" method="POST">
            {% csrf_token %}
                <div class="form-group">
                        <textarea class="form-control" id="id_body" name="body" rows="3" placeholder="您对课程是否满意？"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">发表评价</button>
        </form>
        <h5 class="mx-1 my-4">所有评价</h5>
        {% for i in comment_list %}
            <p class="alert c_BgLight mb-4" role="alert">
                    <b class="ml-1 font-weight-bold">{{ i.name }}：</b>{{ i.body }}
            </p>
         {% endfor %}
</div>

<div class="container c_Container p-4">
        <h5>相关推荐</h5>
        <div id="jd_book" class="c_JDCard d-flex w-100 ">
        获取中...
        </div>
    </div>

{% include 'copyright.html' %}
{% endblock %}
{% block script %}
<script>
        $(function(){
                $.get("/play_ajax_obj/"+$(".c_ChapterItem").eq(0).data("id"),function(res){
                                $(".c_VideoWrapper").html(res);
                });
                $(".c_ChapterItem").click(function(){
                        $.get("/play_ajax_obj/"+$(this).data("id"),function(res){
                                $(".c_VideoWrapper").html(res);
                        });
                });
                $.get("/jd_book/{{ series.id }}",function(res){
                        $("#jd_book").html(res);
                });
                
                
        })
</script>
{% endblock %}