<div class="w-100 mb-0 mt-5 pb-3">
        <div class="c_NavbarBorder d-flex flex-row justify-content-between">
                <span class="c_NavbarBorderItem c_BgDarkGreen c_W25"></span>
                <span class="c_NavbarBorderItem c_BgRed c_W8"></span>
                <span class="c_NavbarBorderItem c_BgPurple c_W10"></span>
                <span class="c_NavbarBorderItem c_BgYellow c_W12"></span>
                <span class="c_NavbarBorderItem c_BgBlue c_W15"></span>
                <span class="c_NavbarBorderItem c_BgGreen c_W30"></span>
            </div>
    <div class="copytight w-100 mt-3">&copy; 2018</div>
</div>