{% extends 'base.html' %}
{% load static %}
{% block title %}首页_{% endblock %}

{% block container %}
{% include 'navbar.html' %}
<div id="i_SlideBanner" class="carousel slide c_SliderInner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#i_SlideBanner" data-slide-to="0" class="active"></li>
            <li data-target="#i_SlideBanner" data-slide-to="1"></li>
            <li data-target="#i_SlideBanner" data-slide-to="2"></li>
            <li data-target="#i_SlideBanner" data-slide-to="3"></li>
            <li data-target="#i_SlideBanner" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <!-- Banner滚动图片，3张
            {% for img in imgs %}
            <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ img.path }}" alt="{{ img.title }}">
            </div>
            {% endfor %} -->
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/5.jpg' %}" alt="1">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/2.jpg' %}" alt="2">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/3.jpg' %}" alt="3">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/4.jpg' %}" alt="4">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/1.PNG' %}" alt="5">
            </div>
        </div>
        <a class="carousel-control-prev" href="#i_SlideBanner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">上一张</span>
        </a>
        <a class="carousel-control-next" href="#i_SlideBanner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">下一张</span>
        </a>
    </div>

    <div class="container c_Container p-3 mt-5">
            <h3 class="mt-2 text-dark mx-4">精品课程</h3>
            <div class="d-flex flex-wrap c_SeriesCard">
                {% for i in series_list %}
                <a class="card c_Card " href="{% url 'show_series' i.id %}">
                    <img class="card-img-top" src="{{ i.img.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">{{ i.information }}</p>
                    </div>
                </a>
                {% endfor %}        
            </div>

    </div>
{% include 'copyright.html' %}
{% endblock %}
