{% extends 'base.html' %}
{% load static %}
{% block title %}登录_{% endblock %}
{% block class %}p-0{% endblock %}
{% block container %}
                    <div class="c_NavbarBorder d-flex flex-row justify-content-between">
                            <span class="c_NavbarBorderItem c_BgDarkGreen c_W25"></span>
                            <span class="c_NavbarBorderItem c_BgRed c_W8"></span>
                            <span class="c_NavbarBorderItem c_BgPurple c_W10"></span>
                            <span class="c_NavbarBorderItem c_BgYellow c_W12"></span>
                            <span class="c_NavbarBorderItem c_BgBlue c_W15"></span>
                            <span class="c_NavbarBorderItem c_BgGreen c_W30"></span>
                        </div>
        <div class="container d-flex flex-column mt-4 pt-5">
                <h4 class="text-center mb-4">登录</h4>
                <form class="border rounded c_LoginBox px-4 py-5 mx-auto" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="id_username">用户名</label>
                      <input type="text" class="form-control" id="id_username"  placeholder="输入用户名" name="username" required>
                    </div>
                    <div class="form-group">
                      <label for="id_password">密码</label>
                      <input type="password" class="form-control" id="id_password" placeholder="输入密码" name="password" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100 mt-4">登录</button>
                </form>
                <p class="c_LoginTip border rounded  px-3 py-2 mx-auto mt-3">还没有账号？<a href="{% url 'register' %}">现在注册</a></p>
        </div>
{% endblock %}